body {
    background-color: white;
}

.container {
    display: grid;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
}

.box {
    background-color: whitesmoke;
}

.box:hover {
    background-color: gray;

}

.focus {
    background-color: black;
}