body {
    background-color: white;
}

.container {
    display: grid;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
}

.box {
    background-color: red;
}

.box:hover {
    background-color: blue;
}