body {
    background-color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vh;
}

.box {
    background-color: red;
    flex-basis: 6%;
}

.box:hover {
    background-color: blue;
}